.docsify-pagination-container {
  margin: 72px 0 48px;
  border-top: 1px solid hsl(0, 0%, 93%);
  display: flex;
  justify-content: space-between;
  color: #354a5f;
  overflow: hidden;
  flex-wrap: wrap;
}
.pagination-item {
  margin-top: 36px;
}
.pagination-item--next {
  text-align: right;
}
.pagination-item a {
  text-decoration: none;
  color: #354a5f;
}
.pagination-item-label {
  font-size: 12px;
  opacity: 0.2;
  position: relative;
  line-height: 1em;
  display: inline-block;
  background-size: 1em;
  background-repeat: no-repeat;
}
.pagination-item--previous .pagination-item-label {
  padding-right: 1em;
  background-image: svg-load('./assets/previous.svg', fill=#354a5f);
  background-position: right center;
}
.pagination-item--next .pagination-item-label {
  padding-left: 1em;
  background-image: svg-load('./assets/next.svg', fill=#354a5f);
  background-position: left center;
}
.pagination-item-title {
  font-size: 24px;
  opacity: 0.4;
  transition: all 200ms ease;
  text-decoration: none;
}
.pagination-item a:hover .pagination-item-title {
  opacity: 1;
  transition: all 200ms ease;
  text-decoration: underline;
}
.pagination-item--next .pagination-item-title {
  opacity: 0.8;
}
